#easy, #normal, #hard {
    -webkit-transform: scale(0.5)
}

.bulb-group,.switch-group {
    float: left;
    width: 100%;
}

.bulb-group > div {
    width: 92px;
    height: 92px;
    float: left;
    margin: 0 20px 20px 0;
    background: transparent url("img/nova-offline.png") no-repeat center center;
}

.bulb-group > div.active {
    background-image: url("img/nova-online.png");
}

.switch-group > div {
    width: 92px;
    height: 92px;
    float: left;
    margin: 0 20px 20px 0;
    background: transparent url("img/switch-offline.png") no-repeat center center;
    cursor: pointer;
}

.switch-group > div:hover {
    background-image: url("img/switch-online.png");
}
