body {
	padding: 0;
	margin: 0;
	color: #333;
	font-family: "Microsoft YaHei";
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: pink;
	box-sizing: border-box;
}

/*
 * common css
 */
.hide {
	display: none !important;
}

.press-down {
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
.top-out {
	-webkit-transform: translate3d(0, -100%,0);
	transform: translate3d(0, -100% ,0);
}

/*
 * section css
 */

.section {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 0;
	display: none;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}
.section.active {
	display: block;
}

.section-0 .logo-title {
	width: 300px;
	height: 86px;
	background: transparent url("./images/logo.png") no-repeat;
	background-size: 100%;
	margin: 50px auto 30px auto;
}
.section-0 .describe {
	background-color: rgba(255, 255, 255, 0.498039);
	border-radius: 4px;
	color: rgb(70, 70, 70);
	display: block;
	height: 168px;
	line-height: 18px;
	margin: 20px auto 0;
	padding: 17px;
	width: 234px;
	font-size: 12px;
}

.section-0 .describe p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 1.9em;
}

.section-0 .btn-start {
	display: block;
	margin: 20px auto 10px;
	width: 124px;
	height: 57px;
	border-radius: 30px;
	-webkit-box-shadow: 1px 2px 2px 0 rgba(0,0,0,.23);
	box-shadow: 1px 2px 2px 0 rgba(0,0,0,.23);
	background: #ffd800 url("./images/start_btn.png") no-repeat center center;
	background-size: 95px 23px;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
}
.section-0 .btn-start:active {
	background-color: #ffba00;
}

.section-0 .copyright {
	font-size: 12px;
	color: rgba(255,255,255,.8);
	text-align: center;
	margin-top: 12px;
	position: absolute;
	bottom: 20px;
	width: 100%;
}

.section-question {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0 ,0);
	-webkit-transition: -webkit-transform .5s;
	transition: all .5s;
	left: 100%;
	display: block;
	width: 100%;
	overflow: hidden;
}

.section-question .score {
	position: absolute;
	right: 51px;
	top: 17px;
	width: 86px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: right;
	color: #fff;
	padding-right: 5px;
	background-color: #196450;
	border-radius: 5px;
}
.section-question .score span{
	margin: 0 4px 0 6px;
}

.section-question .question-panel {
	position: relative;
	padding: 30px 12px 15px;
	margin: 60px auto 30px;
    width: 80%;
    min-width: 260px;
	font-size: 16px;
	line-height: 19px;
	color: #464646;
	border-radius: 4px;
	background-color: #fff;
	box-sizing: border-box;
}

.section-question .question-panel p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
    margin: 0;
}

.section-question .pre-question,
.section-question .current-question,
.section-question .next-question {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: all linear 300ms;
	transition: all linear 300ms;
}

.section-question .pre-question {
	left: -100%;
	opacity: 0;
}

.section-question .current-question {
	left: 0;
}

.section-question .next-question {
	left: 100%;
}

.section-question .question-sequence {
	position: absolute;
	top: -15px;
	left: 0;
	right: 0;
	margin: auto;
	width: 115px;
	height: 31px;
	background-size: 115px 31px;
	text-align: center;
	font-size: 18px;
	line-height: 31px;
	color: #963200;
	background-image: url("./images/question_title_bg.png");
}
.section-question .choices-panel {
	width: 80%;
    min-width: 260px;
    margin: 0 auto 40px;
}
.section-question .choices-panel .item {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 11px;
	padding-right: 17px;
	padding-left: 32px;
	width: 100%;
	min-height: 45px;
	color: #694123;
	border-radius: 5px;
	background-color: #ffe16e;
	text-align: left;
	font-size: 15px;
	line-height: 1;
	overflow: visible;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.23);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,.23);
}

.section-question .choices-panel .item:active,
.section-question .choices-panel .item.on-hold{
	background-color: #ffba00;
}

.section-question .choices-panel .item p{
	padding: 10px 0;
	line-height: 25px;
}

.section-question .item .icon {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -20px;
	margin: auto;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,.23);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.23);
}
.section-question .item-a .icon {
	background-color: #9940ff;
	background-image: url("./images/a.png");
}

.section-question .item-b .icon {
	background-color: #ffa640;
	background-image: url("./images/b.png");
}

.section-question .item-c .icon {
	background-color: #3ee4fa;
	background-image: url("./images/c.png");
}
