body {
    padding: 0;
    margin: 0;
    color: #333;
    font-family: "Microsoft YaHei";
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: #ffcc33;
    box-sizing: border-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;

}

/*
 * common css
 */
.hide {
    display: none !important;
}

/* 复用 bootstrap2 的按钮样式 */
.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 20px;
    padding: 8px 0;
    outline: 0;
    text-decoration: none;
}

.btn-primary.green {
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
}

.btn-primary:active {
    background-image: none;
    outline: 0;
    color: #fff;
    background-color: #04c;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.press-down {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.top-out {
    -webkit-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
}

/*
 * section css
 */
.section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
    display: none;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.section.active {
    display: block;
}

.section-welcome, .section-iconograph, .section-end {
    background-color: #BBD6EE;
    z-index: 50;
    display: block;
    top: 0;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    overflow: hidden;
}

.section-welcome {
    background: gold;
}

.section-welcome img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.section-iconograph img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.section-welcome .btn-primary {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
}

.section-welcome .pre-loading {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

.section-0-bottom .btn-primary {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
}

.section-iconograph {
    top: -100%;
    background: #73CBFF;
    padding-top: 20px;
    box-sizing: border-box;
}

.section-iconograph .btn-primary {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -100px;
}

.section-end {
    top: -100%;
    background: white;
}

.section-end p {
    text-align: center;
    font-size: 18px;
    -webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    margin: 10px;
}

.section-end .total-score {
    color: #FED966;
    font-size: 36px;
    margin: 0 5px;
    position: relative;
    top: 7px;
    padding: 0 3px;
    border-radius: 30px;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

.section-end img {
    width: 60%;
    display: block;
    margin: 10px auto;
}

.section-end .buttons {
    display: table;
    clear: both;
    width: 100%;
    text-align: center;
}

.section-end .buttons .btn-primary {
    font-size: 14px;
    width: 200px;
    padding: 6px;
    height: 22px;
    margin-top: 15px;
}

.section-end .score-banner {
    color: #333;
    /*background: #6460E8;*/
    width: 80%;
    display: block;
    margin: 20px auto;
    /*
    box-shadow: 3px 3px 0px #4440a1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #344098;
    */
}

.section-end .score-graph {
    background: #5A9BD5;
    border-radius: 4px;
    color: white;
    padding: 1px 0 12px 0;
}

.section-0 img {
    width: 100%;
}

.section-0-top {
    background: #ffffff;
    height: 100%;
}

.section-0-bottom {
    height: 215px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5b9bd5;
}

.section-0 .copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    margin-top: 12px;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.section-question {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform .5s;
    transition: all .5s;
    left: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
}

.section-question .score {
    position: absolute;
    right: 51px;
    top: 17px;
    width: 86px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #fff;
    padding-right: 5px;
    background-color: #196450;
    border-radius: 5px;
}

.section-question .score span {
    margin: 0 4px 0 6px;
}

.section-question .question-panel {
    position: relative;
    padding: 30px 12px 15px;
    margin: 60px auto 30px;
    width: 80%;
    min-width: 260px;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.section-question .question-panel p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

.section-question .pre-question,
.section-question .current-question,
.section-question .next-question {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}

.section-question .pre-question {
    left: -100%;
    opacity: 0;
}

.section-question .current-question {
    left: 0;
}

.section-question .next-question {
    left: 100%;
}

.section-question .question-sequence {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 115px;
    height: 31px;
    background-size: 115px 31px;
    text-align: center;
    font-size: 18px;
    line-height: 31px;
    color: #963200;
    background-image: url("./images/question_title_bg.png");
}

.section-question .choices-panel {
    width: 80%;
    min-width: 260px;
    margin: 0 auto 40px;
}

.section-question .choices-panel .item {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 11px;
    padding-right: 17px;
    padding-left: 32px;
    width: 100%;
    min-height: 45px;
    color: #694123;
    border-radius: 5px;
    background-color: #ffe16e;
    text-align: left;
    font-size: 15px;
    line-height: 1;
    overflow: visible;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
}

.section-question .choices-panel .item:active,
.section-question .choices-panel .item.on-hold {
    background-color: #ffba00;
}

.section-question .choices-panel .item p {
    padding: 10px 0;
    line-height: 25px;
}

.section-question .item .icon {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .23);
}

.section-question .item-a .icon {
    background-color: #9940ff;
    background-image: url("./images/a.png");
}

.section-question .item-b .icon {
    background-color: #ffa640;
    background-image: url("./images/b.png");
}

.section-question .item-c .icon {
    background-color: #3ee4fa;
    background-image: url("./images/c.png");
}

.post-data-panel {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
}

.post-data-panel .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.post-data-panel .input {
    width: 200px;
    margin: 0 auto 30px;
    font-size: 18px;
    line-height: 24px;
}

.post-data-panel input {
    line-height: 24px;
    height: 24px;
    padding: 3px;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: 0;
}

.post-data-panel .input.m100 {
    margin-top: 100px;
}

.share-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
}

.share-cover img {
    display: block;
    width: 100%;
}

@-webkit-keyframes glow {
    0% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
        border-color: rgba(0, 0, 255, 0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
        border-color: rgba(0, 0, 255, 1.0);
    }
}