body {
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-family: Helvetica;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container > div {
    width: 100%;
    height: 100%;
}


.frame1 {
    background-color: #161618;
    height: 100%;
    padding-top: 10px;
}

.date-time {
    margin-top: 35px;
    color: rgb(255, 255, 255);
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
}

.date-time .time {
    font-size: 140px;
    height: 140px;
    line-height: 140px;
}

.date-time .date {
    padding: 10px;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
}


.pushed-msg-list {
    font-size: 32px;
}

.pushed-msg-list .msg{
    position: relative;
    border-bottom: 1px solid #313135;
    padding: 20px;
    padding-left: 80px;
    background: transparent url(images/icon-msg.png) no-repeat 24px 24px;
}

.pushed-msg-list .reply,
.pushed-msg-list .from span:last-child {
    color: rgb(85, 85, 85);
    font-size: 22px;
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
    text-align: left;
}
.pushed-msg-list .msg:first-child{
    border-top: 1px solid #313135;
}

.unlock {
    position: fixed;
    bottom: 100px;
    width: 100%;
    height: 50px;
}

.unlock-btn {
    position: absolute;
    left: 50%;
    background: transparent url(images/arrow.png) no-repeat;
    color: rgb(66, 66, 67);
    font-size: 44px;
    height: 46px;
    line-height: 46px;
    padding-left: 46px;
    vertical-align: middle;
    width: 266px;
    margin-left: -133px;
}
.camera-btn {
    position: absolute;
    right: 20px;
    top: 80px;
}



.frame2 .keyboard {
    width: 100%;
    position: fixed;
    height: 524px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f4f6 url(images/keyboard.png) 0 100% no-repeat;
    border-top: 1px solid #c3c3c5;
}

.frame2 .keyboard img {
    display: block;
    float: left;
    margin-top: 17px;
    margin-left: 8px;
}

.frame2 .type-in {
    display: block;
    margin-left: 10px;
width: 540px;
height: 55px;
border: 1px solid #abadb2;
border-radius: 10px;
float: left;
margin: 14px 0 0 19px;
background-color: #fff;
padding: 4px 12px;
line-height: 40px;
font-size: 34px;
position: relative;
}
.frame2 .type-in input{
    height: 42px;
    border: 0;
    outline: none;
}

.frame2 .btn-send {
    display: block;
    height: 56px;
    margin-top: 17px;
    margin-right: 8px;
    float: right;
    width: 90px;
    font-size: 30px;
    color: #acacac;
    text-align: center;
    line-height: 56px;
}

.frame2 .chatroom .receive,
.frame2 .chatroom .send {
    width: 60%;
    position: relative;
    float: left;
    background: #efefef;
    border-radius: 8px;
    color: #666;

    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

.frame2 .chatroom .receive .tail,
.frame2 .chatroom .send .tail{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -12px;
    left: -10px;
    background: #efefef;
    border-radius: 3px;
    transform: rotate(45deg);
}

.frame2 .chatroom .send {
    float: right;
    margin-right: 20px;
    background: #10ef10;
}

.frame2 .chatroom .send .tail{
    left: auto;
    right: -10px;
    background: #10ef10;
}

@keyframes p-chat-input{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
.frame2 .focus {
    width: 138px;
    height: 138px;
    position: absolute;
    left: 50%;
    background: url('images/focus.png');
    animation: p-chat-input 2s infinite;
}

.frame3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(http://shushuo.baidu.com/act/zqrabzdd/images/p-video-1-bg.d3d741ff.jpg)
}
.frame3 .caller-name {
    margin-top: 300px;
    font-size: 60px;
    text-align: center;
}
.frame3 .caller-way {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
.frame3 .accept {
    position: absolute;
    width: 183px;
    height: 171px;
    bottom: 100px;
    left: 50%;
    margin-left: -91px;
    background: url(images/btn-on.png)
}
