body {
    background: #eef1f6;
}

.user-panel {
    position: relative;
    height: 250px;
    background: #4257b9;
    color: white;
    text-align: center;
}

.user-panel .back {
    width: 100px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent url("../images/assets/lt-arrow.png") no-repeat center;
}

.up-title {
    line-height: 100px;
    font-size: 40px;
}

.up-sub-title {
    font-size: 26px;
    margin-top: 10px;
}

.up-total-assets {
    font-size: 60px;
}

.detail-panel {
    height: 120px;
    background: #394eae;
    color: white;
    text-align: center;
    padding-top: 1px;
}

.detail-item {
    width: 33%;
    float: left;
}

.dp-count {
    font-size: 32px;
    margin-top: 24px;
}

.dp-text {
    font-size: 20px;
}

.list-panel {
    margin-top: 20px;
    background: white;
}

.list-item {
    margin-left: 30px;
    border-bottom: 1px solid #e0e5f9;
    height: 88px;
    line-height: 88px;
    padding: 1px;
    font-size: 28px;
    color: #555;
}

.list-item:last-child {
    border-bottom: 0;
}

.list-item img {
    position: relative;
    top: 10px;
    left: 5px;
    margin-right: 10px;
}

.fix-icon-cash {
    top: 5px !important;
}

.list-item-link {
    float: right;
    width: 88px;
    height: 88px;
    background: transparent url("../images/user/rt-arrow.png") no-repeat center;
}