body {
    background: #eef1f6;
}
.list-panel {
    background: white;
    margin-top: 20px;
    border-top: 1px solid #e0e5f9;
    border-bottom: 1px solid #e0e5f9;
    font-size: 30px;
    color: #666666;
}

.list-item {
    height: 128px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #e0e5f9;
    padding-top: 16px;
    box-sizing: border-box;
}

.list-item:last-child {
    border-bottom: 0;
}

.logo {
    width: 95px;
    height: 95px;
    border: 1px solid #e8e8f8;
    border-radius: 50%;
    float: left;
    position: relative;
}

.name {
    float: left;
    font-size: 30px;
    color: #666;
    margin-top: 4px;
    margin-left: 28px;
    width: 50%;
}

.type {
    float: right;
    margin-right: 10px;
}

.count {
    float: right;
}

.date {
    margin-top: 12px;
    margin-left: 28px;
    float: left;
    color: #999999;
    font-size: 22px;
}

.color-green {
    color: #2bcc00;
}

.color-red {
    color: #ff4e32;
}