html,
body {
    height: 100%;
}

body {
    background: #eef1f6;
}

.brand {
    margin: 78px auto 70px;
    display: block;
}

.input-text {
    display: block;
    border-radius: 6px;
    border: 1px solid #c9d1f2;
    font-size: 28px;
    padding: 28px 0 24px 75px;
    margin: 0 auto 35px;
    width: 650px;
    outline: 0;
    box-sizing: border-box;
    background: white url("../images/icons/icon-phone.png") no-repeat 20px center;
}
.btn-register {
    display: block;
    background: #4879ff;
    font-size: 36px;
    color: white;
    height: 84px;
    line-height: 84px;
    width: 650px;
    border-radius: 6px;
    text-align: center;
    margin: 35px auto;
}

.risk-tips {
    position: fixed;
    bottom: 36px;
    font-size: 28px;
    text-align: center;
    color: #999999;
    left: 0;
    right: 0;
}