body {
    background: #eef1f6;
}
.list-panel {
    background: white;
    margin-top: 20px;
    border-top: 1px solid #e0e5f9;
    border-bottom: 1px solid #e0e5f9;
    font-size: 30px;
    color: #666666;
}

.list-item {
    height: 90px;
    line-height: 90px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #e0e5f9;
}

.list-item:last-child {
    border-bottom: 0;
}

.logo {
    width: 120px;
    height: 45px;
    border: 1px solid #e8e8f8;
    border-radius: 4px;
    position: relative;
    top: 10px;
}

.type {
    float: right;
}

.date {
    float: right;
    width: 50%;
    text-align: right;
}