html,
body {
    height: 100%;
}

body {
    background: #eef1f6;
}

.form-panel {
    padding-top: 50px;
    position: relative;
    font-size: 26px;
}

.input-captcha, .input-sms {
    height: 80px;
    width: 385px;
    border: 1px solid #c9d1f2;
    border-radius: 8px;
    float: left;
    margin-left: 35px;
    font-size: 26px;
    padding-left: 12px;
    box-sizing: border-box;
}

.captcha, .btn-sms {
    float: left;
    width: 236px;
    border: 1px solid #c9d1f2;
    border-radius: 8px;
    height: 80px;
    margin-left: 24px;
}


.input-sms {
    margin-top: 30px;
}

.btn-sms {
    margin-top: 30px;
    background: #4879ff;
    color: white;
    line-height: 80px;
    text-align: center;
}

.sms-tips {
    color: #4257b9;
    font-size: 22px;
    display: block;
    float: left;
    padding-left:35px;
    padding-top: 10px;
    height: 40px;
    width: 100%;
}

.input-text {
    display: block;
    border-radius: 6px;
    border: 1px solid #c9d1f2;
    font-size: 28px;
    padding: 28px 0 28px 75px;
    margin: 0px auto 35px;
    width: 650px;
    outline: 0;
    box-sizing: border-box;
    background: white url("../images/icons/icon-password.png") no-repeat 20px center;
}

.btn-register {
    display: block;
    background: #4879ff;
    font-size: 36px;
    color: white;
    height: 84px;
    line-height: 84px;
    width: 650px;
    border-radius: 6px;
    text-align: center;
    margin: 35px auto;
}

.should-login {
    margin-left: 35px;
    font-size: 28px;
    color: #666666;
}

.should-login a {
    color: #4879ff;
}

.risk-tips {
    position: fixed;
    bottom: 36px;
    font-size: 28px;
    text-align: center;
    color: #999999;
    left: 0;
    right: 0;
}