body {
    background: #eef1f6;
}

.form-panel {
    background: white;
    border-bottom: 1px solid #e0e5f9;
    border-top: 1px solid #e0e5f9;
}

.form-item {
    box-sizing: border-box;
    height: 88px;
    line-height: 88px;
    font-size: 30px;
    padding-left: 80px;
    margin-left: 30px;
    display: block;
    width: 690px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #e0e5f9;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.withdraw-limit {
    position: absolute;
    top: 387px;
    right: 30px;
    color: #4b4c4d;
    font-size: 30px;
}

.bg-icon-user {
    background-image: url("../images/withdraw/icon-user.png");
}

.bg-icon-id-card {
    background-image: url("../images/withdraw/icon-id-card.png");
}

.bg-icon-bank-card {
    background-image: url("../images/withdraw/icon-bank-card.png");
}

.bg-icon-count {
    background-image: url("../images/withdraw/icon-count.png");
}

.btn-withdraw {
    display: block;
    background: #4879ff;
    font-size: 36px;
    color: white;
    height: 84px;
    line-height: 84px;
    width: 650px;
    border-radius: 6px;
    text-align: center;
    margin: 35px auto;
}